<% if @designs.count == 0
    design=@new_design
  else
    design = @designs.find(1)
  end %>

<%= form_for(design) do |f| %>
  <% if design.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(design.errors.count, "error") %> prohibited this design from being saved:</h2>

      <ul>
      <% design.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :subtitle %><br>
    <%= f.text_field :subtitle %>
  </div>
  <div class="field">
    <%= f.label :background_color %><br>
    <%= f.color_field :background_color %>
  </div>
    <div class="field">
    <%= f.label :wellcolor %><br>
    <%= f.color_field :wellcolor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
