<%= form_for(edit_resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, :html => { :multipart => true }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email, autofocus: true %></div>

  

  <div><%= f.label :handle %>
  <%= f.text_field :handle, autofocus: true %></div>

  <div><%= f.label :firstname %>
  <%= f.text_field :firstname, autofocus: true %></div>

  <div><%= f.label :lastname %>
  <%= f.text_field :lastname, autofocus: true %></div>

  <div>
  <%= f.file_field :avatar, autofocus: true  %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :new_password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :new_password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div><br />

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div><br />

  <div><%= f.submit "Update" %></div>
<% end %>